@use "abstracts_all" as *;

/* Setting Style
======================*/
*,
:focus {
  outline: 0 !important;
  scroll-behavior: smooth;
}
::selection {
  background-color: $main_color !important;
  color: #fff !important;
}

body {
  overflow: hidden;
  width: 100%;
  text-align: start;
  position: relative;
  font-family: $main_font;
  font-weight: $weight_reg;
  padding-top: 183px;
  @include mediaquery(max, desktop) {
    padding-top: 85px;
  }
  [dir="rtl"] & {
    letter-spacing: 0 !important;
  }
}
.container {
  @include mediaquery(min, xl_desktop) {
    min-width: 1280px;
  }
}

/* Mouse Cursor
=========================*/
.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  @include border_radius(50%);
  @include transform(translateZ(0));
  visibility: hidden;

  @include mediaquery(max, desktop) {
    display: none !important;
  }
}
.cursor-inner {
  width: 6px;
  height: 6px;
  z-index: 10000001;
  background-color: $second_color;
  @include transition(
    width 0.3s ease-in-out,
    height 0.3s ease-in-out,
    margin 0.3s ease-in-out,
    opacity 0.3s ease-in-out
  );
}
.cursor-inner.cursor-hover {
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-color: $second_color;
  opacity: 0.3;
}
.cursor-outer {
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid $second_color;
  box-sizing: border-box;
  z-index: 10000000;
  opacity: 0.5;
  @include transition(all 80ms ease-out);
}
.cursor-outer.cursor-hover {
  opacity: 0;
}

/* Loading
======================*/
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 80%;
  }
  .shap {
    display: block;
    width: 100px;
    height: 36px;
    padding: 5px;
    border: 3px solid $main_color;
    position: relative;
    overflow: hidden;
    margin: 40px auto 0;
    @include border_radius(25px);
    span {
      display: block;
      background-color: $second_color;
      width: 70px;
      height: 25px;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      @include border_radius(25px);
      animation: move 1s linear infinite;
    }
  }
}

@keyframes move {
  0% {
    left: -90px;
  }
  100% {
    left: 90px;
  }
}

/* Scroll Bar
======================*/
/* width */
::-webkit-scrollbar {
  background-color: #f1f1f1;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @include border_radius(25px);
  background-color: $main_color;
}

// Placholder
.link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  padding: 0 15px;
  background-color: $main_color;
  color: #fff;
  border: 0;
  letter-spacing: 1px;
  font-weight: $weight_bold;
  @include box_no_shadow;
  @include border_radius(3px);
  @include transition(0.3s all linear);
  [dir="rtl"] & {
    font-size: 13px;
    padding: 0 10px;
    letter-spacing: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include border_radius(3px);
    clip-path: circle(0% at 0 100%);
    background-color: $second_color;
    @include transition(0.4s all linear);
  }
  i {
    margin-inline-start: 5px;
  }
  span {
    position: relative;
    z-index: 999;
  }
  &:hover {
    color: $third_color;
    &::before {
      clip-path: circle(70.7% at 50% 50%);
    }
  }
  @include mediaquery(max, mobile) {
    min-width: auto;
    padding: 0 15px;
    font-size: 14px;
    line-height: 40px;
  }
}
.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  line-height: 45px;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 14px;
  padding: 0;
  background-color: $second_color;
  color: #fff;
  border: 0;
  box-shadow: none;
  @include border_radius(3px);
  @include transition(0.3s all linear);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @include border_radius(2px);
    clip-path: circle(0% at 0 100%);
    background-color: $main_color;
    @include transition(0.4s all linear);
  }

  i,
  &::before {
    z-index: 999;
    position: relative;
  }
  &:hover {
    color: #fff;
    &::after {
      clip-path: circle(70.7% at 50% 50%);
    }
  }
}
.list {
  margin: 15px 0;
  li {
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
    padding-inline-start: 25px;
    font-size: 14px;
    color: $main_color;
    position: relative;
    &::before {
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      inset-inline-start: 0;
      top: 0;
      color: $second_color;
    }
  }
  @include mediaquery(max, mobile) {
    font-size: 13px;
  }
}

/* Lists  
======================*/
ul {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

/* Links 
======================*/
a,
a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
}

/*Images
======================*/
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Page Setting
=====================*/
section {
  z-index: 98;
  position: relative;
  padding: 70px 0;
  background-color: #fff;
  &.colored {
    background-color: #f4f7fc;
  }
  @include mediaquery(max, tablet) {
    padding: 50px 0 !important;
  }
  @include mediaquery(max, mobile) {
    padding: 35px 0 !important;
  }
}
.section_img {
  padding: 90px 0;
  background: url(../images/business.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($main_color, 0.9);
  }
  h3 {
    text-transform: uppercase;
    font-weight: $weight_bold;
    font-size: 48px;
    margin: 0 auto 25px;
  }
  p {
    font-size: 24px;
    text-transform: capitalize;
    margin: 0 0 25px;
  }
  @include mediaquery(max, desktop) {
    padding: 70px 0;
    h3 {
      font-size: 38px;
    }
    p {
      font-size: 18px;
    }
  }
  @include mediaquery(max, tablet) {
    padding: 35px 0;
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 16px;
    }
  }
  @include mediaquery(max, mobile) {
    h3 {
      font-size: 18px;
      margin-bottom: 15px;
    }
    p {
      font-size: 12px;
      margin-bottom: 15px;
    }
  }
}

/* Section Title
=======================*/
.section_title {
  position: relative;
  margin: 0 0 30px 0;
  h3 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: $weight_bold;
    color: $main_color;
    line-height: 35px;
    padding-bottom: 15px;
    letter-spacing: 1px;
    position: relative;
    [dir="rtl"] & {
      font-size: 26px;
    }
    &::before {
      content: " ";
      width: 70px;
      height: 3px;
      background-color: $second_color;
      position: absolute;
      left: 0;
      bottom: -1px;
      border-radius: 25px;
    }
  }
  p {
    color: $third_color;
    margin: 25px 0;
    font-size: 16px;
  }
  @include mediaquery(max, mobile) {
    h3 {
      line-height: 28px;
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  &.text-center {
    h3::before {
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

/* Page Head
=========================*/
.page_head {
  background-color: $main_color;
  padding: 50px 0;
  color: #fff;
  @include mediaquery(max, tablet) {
    padding: 25px 0;
    .col-12 {
      flex-direction: column;
      text-align: center;
      h3{
        margin-bottom: 15px;
      }
    }
  }
  h3 {
    font-size: 28px;
    font-weight: $weight_bold;
    margin: 0;
    text-transform: uppercase;
  }
  ul {
    li {
      display: inline-block;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      position: relative;
    }
    a {
      font-size: 18px;
      display: block;
      color: #fff;
      padding-inline-end: 15px;
      margin-inline-end: 5px;
      position: relative;
      &::after {
        content: " / ";
        position: absolute;
        top: 0;
        inset-inline-end: 0px;
        font-size: 18px;
        color: #fff;
      }
    }
  }
}
