/* Variables
======================*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;800&display=swap');

// Color Values
$main_color: #14568a;
$second_color:#3cb2c3;
$third_color: #191919;
// Font Setting
$main_font: 'Cairo', sans-serif;
$weight_xbold: 800;
$weight_bold: 600;
$weight_reg: 400;
