@use "../abstracts/abstracts_all" as *;

/* Contact
=======================*/
.contact {
  & > .row {
    max-width: 1140px;
    margin: auto;
  }

  .contact_details {
    padding: 25px;
    background-color: $main_color;
    @include flex(column, center, flex-start);
    @include border_radius(5px);
    h3 {
      margin: 0 0 40px;
      letter-spacing: 1px;
      font-size: 24px;
      font-weight: $weight_bold;
      position: relative;
      text-transform: uppercase;
      line-height: 30px;
      color: #fff;
      &::before {
        content: "";
        background-color: $second_color;
        position: absolute;
        inset-inline-start: 0;
        bottom: -10px;
        margin: auto;
        height: 3px;
        width: 40px;
      }
    }
    .contact_info li {
      i {
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        margin-inline-end: 10px;
      }
      a {
        font-size: 16px;
        color: #fff;
      }
    }
  }
  .contact_form {
    @include border_radius(5px);
    padding: 30px;
    background-color: #fff;
    h3 {
      color: #fff;
      margin: 0 0 15px;
      letter-spacing: 1px;
      font-size: 28px;
      font-weight: $weight_bold;
      position: relative;
      text-transform: uppercase;
      line-height: 30px;
      color: $main_color;
      [dir="rtl"] & {
        letter-spacing: 0;
        font-size: 24px;
      }
      &::before {
        content: "";
        background-color: $second_color;
        position: absolute;
        inset-inline-start: 0;
        bottom: -10px;
        margin: auto;
        height: 3px;
        width: 40px;
      }
    }
    .link {
      margin-top: 5px;
    }
  }
  .inner_contact {
    @include border_radius(5px);
    padding: 15px;
    background-color: #f4f7fc;
    margin: 15px auto;
    h3 {
      color: $main_color;
      font-size: 16px;
      margin-bottom: 25px;
    }
    i {
      background-color: $main_color;
      color: #fff;
    }
    a {
      color: $third_color !important;
    }
    @include mediaquery(max, mobile) {
      a {
        font-size: 14px !important;
      }
    }
  }
  @include mediaquery(max, mobile) {
    .row {
      margin: auto;
      max-width: 100%;
    }
    .contact_details,
    .contact_form {
      padding: 15px 10px;
      h3 {
        font-size: 18px;
      }
    }
  }
}
